//@charset "UTF-8";

//custom for mobile

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
    // frame
    .border--b, .border--t {
        height: 7.1vw !important;
    }

    .border--l, .border--r {
        width: 7.1vw !important;
    }

    .lines-container {
        right: -90% !important;
        left: -90% !important;
    }

    //nave
    .nav {
        display: none !important;
    }

    //logo
    .logo
    {
        width: 100% !important;
    }

    /*.m-ml-0 {
        margin-left: 20vw !important;
    }*/


    .project__title::before {     
        top: -20px;
        left: calc(20% - 40px);
        font-size: 1.4rem;
    }


    .mlg-2.lg {
        margin-left: 2.6342857143%;
    }

    .mx-a {
        margin-left: calc(50% - 20px) !important;
    }

    // for mousecall to action
    div.mouse-container {
        height: unset !important; 
    }

    div.mouse {
        width: 30px !important;
        height: 45px !important;
    }

    //page
    .inner-nav__list {
        display: flex !important;
        bottom: 40px !important;
    }

    .inner-nav__btn .icon--arrow--right,
    {
        left: calc(30% - 0px);
    }

    .inner-nav__btn .icon--arrow--right,
    {
       left: calc(10% - 0px);
    }

    //header
    .project__title {
        /* top: -5.25vw; */
        font-size: 10.5vw !important;
    }

    .project__description
    {
        padding-bottom: 10px !important;
    }
    
    //content
    .project__description.ctn {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .project__text
    {
        line-height: 1.2;   
    }

    .project__description .title, 
    .project__description .sub {
        font-size: 2.7rem !important;
    }

    .project__description .sub {
        font-size: 1.8rem !important;
    }

    .project__text p:not(:last-of-type) {
        margin-bottom: 1.3rem !important;
    }

    .btn
    {
        line-height: 2.5;
        margin-top: 20px;
    }

    //footer
    .footy#desktop
    {
        display: none;
    }

    //image
    .project__image
    {
        display: none;
    }

    .mobile
    {
        width: 100% !important;
        max-width: 100% !important;
    }

    //whart
   .what .mt-ne-1 .col-7,
   .what .mt-ne-1 .col-7.right
   {
       display: none !important;
   }

   .left, .right
   {
        left: initial !important;
   }

   .mt-ne-1 {
     margin-top: 0 !important; 
    }

    .text-right {
        text-align: unset !important;
    }

    .indust,
    .enterprise,
    .b2b
     {
        top: 5px !important;
        left: 0 !important;
        width: 20% !important;
      }

    .project__description .sub,
    .mt-ne-1 .sub {
    font-size: 1.8rem !important;
    }

    .project__text {
        margin-bottom: 0 !important;
    }

    .project__body ul {
        list-style-type: none !important;
        line-height: 1.5 !important;
    }

    .what .project__body .ne {
        padding-left: 10vw;
    }

    .project__body .title
    {
        margin-bottom: 0 !important;
    }

    .what .pb-6
    {
        padding-bottom: 2vh !important;
    }

    //where
    .where .map
    {
        height: auto !important;
    }

    .where .rectang
    {
        display: none;
    }

    .where .col-6
    {
        width: 100% !important;
        max-width: unset !important;
    }

    .where ul
    {
        margin-left: 5% !important;
    }

    .where .project__intro ul
    {
        margin-left: 0 !important;
    }

    .where ul li 
    {
        margin-bottom: 10px !important;
        width: initial !important;
        margin-top: 0  !important;
    }

    .where .ctn-o
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    //how
    .how .col-6.fill
    {
        width: 100% !important;
        max-width: unset !important;
    }

    ul li.indent-1,  ul li.indent-2,  ul li.indent-3,  ul li.indent-4 {
        margin-left: 0 !important;
        padding-bottom: 15vh;
      }

      .project__body ul li {
        border-left: 2px solid black !important;
        border-bottom: none !important;
        border-right: none !important;
    }

    .how .project__body .bg {
        left: 10vw !important;
        width: 50% !important;
        top: -25px !important;
        clip: rect(0px, 40px, 200px, 0px);
    }

    .how .project__body ul
    li::before {
        content: "\2022 ... ";
        font-size: 10vw;
        left: -1.5vw;
        top: -4vh;
        position: absolute;
    }

    .how .project__description .title.fixed
    {
        text-transform: uppercase;
        position: absolute;
        margin-top: -2vh;
        margin-left: 14vw;
        display: block;
    }


    .how .project__description .sub.fixed
    {
        position: absolute;
        margin-top: -4vh;
        margin-left: 14vw;
        display: block;
    }

    //why
    .why .project__header__inner .t
    {
        text-align: left;
        width: 90%;
        margin-left: 16vw;
    }

    .why .project__description
    {
        padding-bottom: 30px !important;
    }
    

    .why .none, .why .box 
    {
        display: none;
    }

    .why .ctn-o
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .why .project__body .bg__block {
        width: 15vw !important;
    }

    .why .project__body ul li {
        border-left: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }

    .why .project__description .title,
    .why .project__description .sub {
        margin-bottom: 0 !important;
        line-height: 1.2;
    }

    .why .block {
        margin-top: 0 !important;
        margin-bottom: 0 !important;  
    }

    .why .shift, .why .more
    {
        margin: 0 !important;
        height: unset !important;
        padding-top: 0 !important;
    }

    .why .project__content .red 
    {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .why .project__content p.ll
    {
        width: 50vw !important;
        position: relative;
        left: -70px;
    }

    .why .project__content .red.shift
    {
        border-left: 100px solid transparent; 
    }
 }




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }